---
apiVersion: v1
kind: Secret
metadata:
  name: metal-cloud-config
  namespace: kube-system
stringData:
  cloud-sa.json: |
    {
      "apiKey": "{{ eqm_auth_token }}",
      "projectID": "{{ eqm_project_id }}",
      "metro": "{{ eqm_metro }}",
      "loadbalancer": "empty://"
    }
