gcrKeyPath: '{{ home_path }}/bootstrap/gcp_keys/gcr.json'
sshPrivateKeyPath: '{{ home_path }}/.ssh/id_rsa'
gkeConnectAgentServiceAccountKeyPath: '{{ home_path }}/bootstrap/gcp_keys/connect.json'
gkeConnectRegisterServiceAccountKeyPath: '{{ home_path }}/bootstrap/gcp_keys/register.json'
cloudOperationsServiceAccountKeyPath: '{{ home_path }}/bootstrap/gcp_keys/cloud-ops.json'
---
apiVersion: v1
kind: Namespace
metadata:
  name: cluster-{{ cluster_name }}
---
apiVersion: baremetal.cluster.gke.io/v1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: cluster-{{ cluster_name }}
{% if cloud == "EQM" %}
  annotations:
    baremetal.cluster.gke.io/external-cloud-provider: "true"
{% endif %}
spec:
  type: hybrid
  profile: default
  anthosBareMetalVersion: {{ bmctl_version }}
  gkeConnect:
    projectID: {{ gcp_project_id }}
  controlPlane:
    nodePoolSpec:
      nodes:
{% if cloud != "EQM" %}
{% for n in range(cp_node_count) %}
      - address: {{ private_subnet | ansible.utils.nthhost(n+2) }}
{% endfor %}
{% else %}
{% for host in groups['cp_nodes']  %}
      # TODO: Update using private IP variable
      - address: {{ hostvars[host]['first_private_ip'] }}
        providerID: equinixmetal://{{ hostvars[host]['id'] }}
{% endfor %}
{% endif %}
  clusterNetwork:
{% if cloud == "EQM" %}
    advancedNetworking: true
{% endif %}
    pods:
      cidrBlocks:
      - 192.168.0.0/16
    services:
      cidrBlocks:
      - 10.96.0.0/20
  loadBalancer:
    mode: bundled
{% if cloud == "EQM" %}
    type: bgp
    localASN: 65000
    bgpPeers:
    - ip: 169.254.255.1
      asn: 65530
    - ip: 169.254.255.2
      asn: 65530 
{% endif %}
    ports:
      controlPlaneLBPort: 443
    vips:
      controlPlaneVIP: {{ cp_vip }}
      ingressVIP: {{ ingress_vip }}
    addressPools:
    - name: pool1
      addresses:
{% if cloud != "EQM" %}
      - {{ lb_range_start }}-{{ ingress_vip }}
{% else %}
      - {{ ingress_vip }}-{{ ingress_vip }}
{% endif %}
  clusterOperations:
    projectID: {{ gcp_project_id }}
    location: us-central1
  storage:
    lvpNodeMounts:
      path: /mnt/localpv-disk
      storageClassName: local-disks
    lvpShare:
      path: /mnt/localpv-share
      storageClassName: local-shared
      numPVUnderSharedPath: 5
  nodeConfig:
    podDensity:
      maxPodsPerNode: 250
    containerRuntime: containerd
  nodeAccess:
    loginUser: {{ username }}
{% if worker_node_count > 0 %}
---
apiVersion: baremetal.cluster.gke.io/v1
kind: NodePool
metadata:
  name: node-pool-1
  namespace: cluster-{{ cluster_name }}
spec:
  clusterName: {{ cluster_name }}
  nodes:
{% if cloud != "EQM" %}
{% for n in range(worker_node_count) %}
  - address: {{ private_subnet | ansible.utils.nthhost(n+5) }}
{% endfor %}
{% else %}
{% for host in groups['worker_nodes'] %}
  # TODO: Update using private IP variable
   - {{ hostvars[host]['second _private_ip'] }}
    providerID: equinixmetal://{{ hostvars[host]['id'] }}
{% endfor %}
{% endif %}
{% endif %}
{% if cloud == "EQM" %}
---
apiVersion: networking.gke.io/v1
kind: NetworkGatewayGroup
metadata:
  name: default
  namespace: cluster-{{ cluster_name }}
spec:
  floatingIPs:
# TODO: This needs to be fixed!!
{% for host in groups['worker_nodes'] %}
  - {{ hostvars[host]['first_private_ip'] }}
{% endfor %}
---
apiVersion: networking.gke.io/v1
kind: BGPLoadBalancer
metadata:
  name: default
  namespace: cluster-{{ cluster_name }}
spec:
  peerSelector:
    cluster.baremetal.gke.io/default-peer: "true"
---
apiVersion: networking.gke.io/v1
kind: BGPPeer
metadata:
  name: eqm-tor1
  namespace: cluster-{{ cluster_name }}
  labels:
    cluster.baremetal.gke.io/default-peer: "true"
spec:
  localASN: 65000
  peerASN: 65530
  peerIP: 169.254.255.1
  sessions: {{ worker_node_count }}
---
apiVersion: networking.gke.io/v1
kind: BGPPeer
metadata:
  name: eqm-tor2
  namespace: cluster-{{ cluster_name }}
  labels:
    cluster.baremetal.gke.io/default-peer: "true"
spec:
  localASN: 65000
  peerASN: 65530
  peerIP: 169.254.255.2
  sessions: {{ worker_node_count }}
{% endif %}
